@media (max-width: 1600px) {
    .slide__title {
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 80px, rgba(255, 255, 255, 1) 80px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 75px;
        bottom: 22px;

    } 
}

/* Tablet */
@media (max-width: 1000px) {
    .header__title {
        font-size: 50px;
        line-height: normal;
        margin-bottom: 28px;
    }

    .header__text {
        font-size: 24px;
        margin-bottom: 52px;
    }

    .nav__list {
        column-gap: 60px;
    }

    .slider {
        width: 1200px;
    }

    .slide__title {
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 80px, rgba(255, 255, 255, 1) 80px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 100px;
        bottom: 60px;

    } 

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 22px;
    }

    .about__title {
        padding-top: 80px;
    }

    .case-studies {
        padding: 80px 0;
    }

    .about {
        padding: 20px 0;
    }

    .footer__row {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 32px;
    }

    .footer {
        padding: 32px 0;
    }

    .footer__nav {
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
    }

    .footer a {
        color: rgba(73, 42, 211, 0.7);
    }
}

/* Mobile */

@media (max-width: 600px) {
    .nav__logo {
        margin-left: 9px;
        max-width: 109px;
    }

    .nav__list {
        display: none;
    }

    .nav__btn {
        display: block;
        margin-right: 1px;
    }

    .header__content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;

        color: rgba(31, 31, 31, 0.7);
        font-size: 16px;
    }

    .header__content-mobile-text {
        max-width: 237px;
        text-align: center;
        letter-spacing: 0.06em;
        line-height: 1.5;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .header__logo-mobile {
        width: 243px;

    }
    .header__content {
        display: none;
    }

    .header__arrows {
        width: 19px;
        height: 16px;
        bottom: 32px;
    }


    .case-studies  {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .case-studies__title {
        margin-bottom: 7px;
    }

    .title {
        font-size: 32px;
    }

    .case-studies__text {
        margin-bottom: 32px;
    }

    .text {
        font-size: 16px;
    }

    .slider {
        width: 546px;

    }

    .slide__img {
        width: 224px;
        height: 264px;
    }

    .slide {
        padding-left: 33px;
    }

    .slide__title {
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 33px, rgba(255, 255, 255, 1) 33px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        bottom: 22px;

    } 

    .about {
        padding: 40px 0 80px;
    }

    .about__title {
        padding-bottom: 7px;
        padding-top: 20px;
    }

    .about__text {
        margin-bottom: 40px;
    }

    .video {
        overflow: hidden;
    }

    .video__btn {
        width: 48px;
        height: 48px;
    }

    .video__picture {
        width: 100%;
    }

    .video__object {
        position: absolute;
        left: -80%;
        top: 0;
        width: 1000px;
        min-height: 100%;
        vertical-align: top;
    }
} 